<template>
	<v-container fluid grid-list-xl py-0>
		<div class="app-card">
			<div class="app-card-title">
				<h3>Search Row</h3>
				<v-layout justify-end>
					<v-btn @click="addData" raised class="btn-primary">Add</v-btn>
				</v-layout>
			</div>
			<div class="app-card-content">
				<v-card-title>Products
				<v-spacer></v-spacer>
				<v-text-field
					append-icon="search"
					label="Search"
					single-line
					hide-details
					v-model="search">
				</v-text-field>
				</v-card-title>
				<v-data-table
					v-bind:headers="headers"
					v-bind:items="productsList"
					v-bind:search="search">
				<template slot="items" slot-scope="props">
					<td>{{ props.item.sku }}</td>
					<td>{{ props.item.short_name }}</td>
					<td>{{ props.item.short_description }}</td>
					<td>{{ props.item.product_type }}</td>
					<td>{{ props.item.product_type_id }}</td>
					<td>{{ props.item.product_category_id }}</td>
					<td>{{ props.item.product_subactegory_id }}</td>
					<td>{{ props.item.brand }}</td>
					<td>{{ props.item.model }}</td>
					<td>{{ props.item.code }}</td>
					<td>{{ props.item.tags }}</td>
					<td>{{ props.item.cost }}</td>
					<td>{{ props.item.price }}</td>
					<td> </td>
					<td>{{ props.item.is_visible }}</td>
					<td>{{ props.item.is_active }}</td>
					<td>{{ props.item.featured_image.url }}</td>
					<td>{{ props.item.is_schedulable }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<v-btn raised @click="editData(props.item.id)" class="btn-primary">Update</v-btn>
						<v-btn raised @click="viewData(props.item.id)" color="accent">View</v-btn>
					</td>
				</template>

				<template slot="pageText" slot-scope="{ pageStart, pageStop }">
					From {{ pageStart }} to {{ pageStop }}
				</template>

				</v-data-table>
			</div>
		</div>

        <!-- Dialog Model 1 -->
        <v-dialog
            v-model="dialogFull"
            fullscreen
            transition="dialog-bottom-transition"
            overlay=false
            scrollable>
            <v-card>
            <v-toolbar style="flex: 0 0 auto;" class="bg-primary">
                <v-btn icon @click.native="dialogFull = false" dark>
                <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title v-if="view" class="white--text">{{  product.short_name || product.short_description }}</v-toolbar-title>
                <v-toolbar-title v-else-if="add" class="white--text">Add New Product</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                <!-- <v-btn dark flat @click.native="dialogFull = false">Save</v-btn> -->
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text v-if="view">
                <pre>
                {{ /*product*/ }}
                </pre>
                <v-card>
                  <v-card-media  alt="Product" height="200px">
                  </v-card-media>
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">{{ product.short_name || product.short_description }}</h3>
                      <div><b>ID:</b> {{ product.id }}</div>
                      <div><b>Account ID:</b> {{ product.account_id }}</div>
                      <div><b>Sku:</b> {{ product.sku }}</div>
                      <div><b>Short Name:</b> {{ product.short_name }}</div>
                      <div><b>Short Description:</b> {{ product.short_description }}</div>
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat color="orange">Share</v-btn>
                    <v-btn flat color="orange">Explore</v-btn>
                  </v-card-actions>
                </v-card>
            </v-card-text>
            <v-card-text v-else-if="add">
              <!-- Add new product -->
              <v-layout>
                <v-flex md6 offset-md3>
                  <div class="app-card">
                    <div class="app-card-title">
                      <h3>Add new product</h3>
                    </div>
                    <div class="app-card-content" >
                      <v-form v-model="formAdd.valid" ref="form" lazy-validation>
                        <v-text-field
                          label="Product Class Id"
                          v-model="formAdd.product_class_id"
                          :rules="formAdd.productClassIdRules"

                          required
                        ></v-text-field>
                        <v-text-field
                          label="Product Type Id"
                          v-model="formAdd.product_type_id"
                          :rules="formAdd.productTypeIdRules"

                          required
                        ></v-text-field>
                        <v-text-field
                          label="Description"
                          v-model="formAdd.description"
                          :rules="formAdd.descriptionRules"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Short Description"
                          v-model="formAdd.short_description"
                          :rules="formAdd.shortDescriptionRules"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Price"
                          v-model="formAdd.price"
                          :rules="formAdd.priceRules"
                          :counter="11"
                          required
                        ></v-text-field>

                        <v-text-field
                          label="Availability"
                          v-model="formAdd.availability"
                          :rules="formAdd.availabilityRules"
                          required
                        ></v-text-field>

                        <v-btn
                          @click="addDataSubmit"
                          :disabled="!formAdd.valid"
                          class="btn-secondary"
                        >
                          submit
                        </v-btn>
                        <v-btn @click="clear" class="btn-primary">clear</v-btn>
                      </v-form>
                    </div>
                  </div>
                </v-flex>
              </v-layout>

            </v-card-text>

            <!-- Edit Product -->
            <v-card-text v-else-if="edit">
              <v-layout>
                <v-flex md6 offset-md3>
                  <div class="app-card">
                    <div class="app-card-title">
                      <h3>Edit product</h3>
                    </div>
                    <div class="app-card-content" >
                      <v-form v-model="formEdit.valid" ref="form" lazy-validation>
                        <v-text-field
                          label="Name"
                          v-model="formEdit.name"
                          :rules="formEdit.nameRules"

                          required
                        ></v-text-field>

                        <v-text-field
                          label="Price"
                          v-model="formEdit.description"
                          :rules="formEdit.descriptionRules"

                          required
                        ></v-text-field>

                        <v-text-field
                          label="Availability"
                          v-model="formEdit.availability"
                          :rules="formEdit.availabilityRules"

                          required
                        ></v-text-field>

                        <v-btn
                          @click="EditDataSubmit"
                          :disabled="!formEdit.valid"
                          class="btn-secondary"
                        >
                          submit
                        </v-btn>
                        <v-btn @click="clear" class="btn-primary">clear</v-btn>
                      </v-form>
                    </div>
                  </div>
                </v-flex>
              </v-layout>

            </v-card-text>
            <!-- @@@ -->
            <div style="flex: 1 1 auto;"></div>
            </v-card>

        </v-dialog>

	</v-container>
</template>

<script>
import Axios from 'axios'
import qs from 'qs'

export default {
    mounted(){
        this.initialize()
    },
    data(){
        return {
          sessionToken: this.$session.get('token') ? this.$session.get('token') : '',
          productsList: [],
          product: '',
                search: '',
                dialogFull: false,
          headers: [
            { text: 'Sku', value: 'sku', sortable: true },
            { text: 'Name', value: '', sortable: false },
            { text: 'Description', value: '', sortable: false },
            { text: 'Type', value: '', sortable: false },
            { text: 'Subtype', value: '', sortable: false },
            { text: 'Category', value: '', sortable: false },
            { text: 'Subcategory', value: '', sortable: false },
            { text: 'Brand', value: '', sortable: false },
            { text: 'Model', value: '', sortable: false },
            { text: 'Code', value: '', sortable: false },
            { text: 'Tags', value: '', sortable: false },
            { text: 'Cost', value: '', sortable: false },
            { text: 'Price', value: '', sortable: false },
            { text: 'Availability', value: '', sortable: false },
            { text: 'Visible', value: '', sortable: false },
            { text: 'Active', value: '', sortable: false },
            { text: 'Feature Image', value: '', sortable: false },
            { text: 'Schedulable', value: '', sortable: false },
            { text: 'Manage Inventory', value: '', sortable: false },
            { text: 'Inventory Threshold', value: '', sortable: false },
            { text: 'Gallery Images', value: '', sortable: false },
            { text: 'Action', value: '', sortable: false }
            ],
             items: [
                {
                    title: 'Click Me'
                },
                {
                    title: 'Click Me'
                },
                {
                    title: 'Click Me'
                },
                {
                    title: 'Click Me 2'
                }
            ],
            select: [
                { text: 'State 1' },
                { text: 'State 2' },
                { text: 'State 3' },
                { text: 'State 4' },
                { text: 'State 5' },
                { text: 'State 6' },
                { text: 'State 7' }
            ],
            view: false,
            add: false,
            edit: false,
            formAdd: {
              valid: true,
              product_class_id: "",
              productClassIdRules: [
                v => !!v || "Product class id is required"
              ],
              product_type_id: "",
              productTypeIdRules: [
                v => !!v || "Product class id is required"
              ],
              description: "",
              descriptionRules: [
                v => !!v || "Description is required"
              ],
              short_description: "",
              shortDescriptionRules: [
                v => !!v || "Description is required"
              ],
              price: "",
              priceRules: [
                v => !!v || "Price is required",
                v => /\d{1,3}(,\d{3})*\.\d*|\d{1,3}(,\d{3})*|\.\d+/.test(v) || 'Price should be numeric'
              ],
              availability: "",
              availabilityRules: [
                v => !!v || "Availability is required"
              ]
            },
            formEdit: {
              valid: true,
              name: "",
              nameRules: [
                v => !!v || "Name is required"
              ],
              description: "",
              descriptionRules: [
                v => !!v || "Description is required"
              ],
              short_description: "",
              shortDescriptionRules: [
                v => !!v || "Description is required"
              ],
              price: "",
              priceRules: [
                v => !!v || "Price is required",
                v => /\d{1,3}(,\d{3})*\.\d*|\d{1,3}(,\d{3})*|\.\d+/.test(v) || 'Price should be numeric'
              ],
              availability: "",
              availabilityRules: [
                v => !!v || "Availability is required"
              ]
            },
            data: {},
            formEdit: {
              id: '',
              name: '',
              price: '',
              description: '',
              availability: '',
              tags: 'a,b,c',
              AcountShop: [1,15]
            }
        }
    },
    methods: {
        initialize: function(){
            Axios.get('/products.json', {headers: {'Content-Type' : 'application/json', 'Authorization' : this.sessionToken}}).then(
                (response) => {

                    let list = []
                    response.data.products.map(function(value){
                        list.push(value)
                    })

                    list.forEach(element => {
                      this.productsList.push(element.Product)
                    })

					//console.log(this.productsList)
                }
            ).catch((response) => { console.log(response) })
        },

        viewData: function(id){
            Axios.get('/products/' + id + '.json', {headers: {'Content-type' : 'application/json', 'Authorization' : this.sessionToken}}).then(
                (response) => {
                    this.product = response.data.Product
                    this.dialogFull = true
                    //console.log(this.product)
                },
                (response) => {
                    console.log(response)
                }
            ).catch((response) => {
                console.log(response)
            })

            this.add = false
            this.edit = false
            this.view = true
        },

        addData: function(){
          this.data = {}
          this.dialogFull = true
          this.view = false
          this.edit = false
          this.add = true
        },

        editData: function(id){
          this.data = {}
          this.formEdit.id = id

          Axios.get('/products/' + id + '.json', {headers: {'Content-Type' : 'application/json', 'Authorization' : this.$session.get('token')}}).then(
            (response) => {
              this.formEdit.name = response.data.Product.short_name
              this.formEdit.description = response.data.Product.description
              this.formEdit.availability = response.data.Product.availability

              //console.log(response)
            },
            (response) => {
              console.log(response)
            }
          ).catch((response) => {
              console.log(response)
          })

          this.dialogFull = true
          this.view = false
          this.add = false
          this.edit = true
        },

        addDataSubmit() {
          if (this.$refs.form.validate()) {
            this.data = {
              'Product' : {
                'product_class_id' : this.formAdd.product_class_id,
                'product_type_id' : this.formAdd.product_type_id,
                'description' : this.formAdd.description,
                'short_description' : this.formAdd.short_description,
                'price' : this.formAdd.price,
                'availability' : this.formAdd.availability,
                'attributes' : [
                  {
                    'name' : 'color',
                    'options' : ['red','blue','green']
                  }
                ]
              }
            }

            Axios.post('/shop/1/products', {'Product' : this.data}, {headers: {'Content-Type' : 'application/json', 'Authorization' : this.$session.get('token')}}).then(
              (response) => {
                alert(response)
                console.log(response)
              },
              (response) => {
                alert(response)
                console.log(response)
              }
            ).catch((response) => {
                console.log(response)
            })

            //console.log(this.data)
            console.log(this.sessionToken)
          }
        },
        EditDataSubmit: function(){

        },
        clear() {
          this.$refs.form.reset();
        }
    },

    computed: {

    }
}
</script>



