<template>
    <div>
		<v-toolbar color="gradient-primary" dark>
			<v-toolbar-title class="text-xs-center">Chat</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn icon>
				<v-icon>search</v-icon>
			</v-btn>
		</v-toolbar>
    </div>
</template>
