<template>
	<v-container fluid grid-list-xl py-0>
    <div class="app-card">
			<div class="app-card-title">
        Woo Products
			</div>
			<div class="app-card-content">
        <pre>
        {{ wooProducts }}
        </pre>
			</div>
		</div>
  </v-container>
</template>

<script>
import Axios from 'axios'
import qs from 'qs'

export default {
  mounted(){
    this.initialize()
  },
  data(){
    return {
      'wooProducts' : []
    }
  },
  methods: {
    initialize: function(){
      Axios.get('/woocommerce_products.json', {headers: {'Content-Type' : 'application/json', 'Authorization' : this.$session.get('token')}}).then(
        (response) => {
          this.wooProducts = response.data.woocommerce_products
          //console.log(response)
        },
        (response) => {
          console.log(response)
        }
      ).catch((response) => {
          console.log(response)
      })
    }
  }
}
</script>
