<template>
  <div class="session-banner">
    <v-container px-0>
      <v-layout row wrap>
        <v-flex xs12 sm10 md6 lg5 mx-auto>
          <div class="mb-70">
            <!-- <router-link to="/" class="d-block text-xs-center"><img src="/static/img/session-logo.png" /></router-link></p> -->
            <router-link to="/" class="d-block text-xs-center white--text" ><h1>Staging Api One Diver</h1></router-link></p>
          </div>
          <div class="session-block">
            <div class="session-head text-xs-center">
              <div class="div-icon mb-3">
                <i class="ti-lock font-2x"></i>
              </div>
              <h3 class="mb-4">Login To Admin</h3>
              <p class="fs-14 px-5">Enter email and password to access control panel of One Diver.</p>
            </div>
            <v-form v-model="valid" @submit.prevent="login" class="mb-4">
              <v-text-field label="E-mail ID" v-model="email" :rules="emailRules" required></v-text-field>
              <v-text-field label="Password" v-model="password" type="password" :rules="passwordRules" required></v-text-field>
              <v-checkbox label="Remember me" v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" required></v-checkbox>
              <v-btn type="submit" block class="btn-gradient-primary">Login Now</v-btn>
              <v-btn block class="btn-gradient-warning">Create Account</v-btn>
            </v-form>
            <p class="text-xs-center mb-0 log-link"><router-link to="/session/login">Forgot password?</router-link></p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Axios from 'axios'
import authentication from '../../libraries/authentication.js'

export default {
    mounted () {
        this.initialize()
    },
    data () {
        return {
            checkbox: false,
            valid: false,
            email: '',
            emailRules: [
                v => !!v || "E-mail is required",
                v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || "E-mail must be valid"
            ],
            password: '',
            passwordRules: [v => !!v || "Password is required"],
            loginData: {
                email: '',
                password: '',
                client_id: '123'
            },
            notification: '',
            notificationSnackbar: false,
            sessionToken: this.$session.get('token') ? this.$session.get('token') : ''
        }
    },
    methods: {
        initialize(){
            if(this.$session.get('token')){
                window.location.href = "http://localhost:8080/#/home"
            }
        },
        login(e){

          e.preventDefault()

          this.loginData.email = this.email
          this.loginData.password = this.password
          authentication.login(this)

        }

        // login(e) {
        //   // this.auth.signin(this, username, pass)
        //     e.preventDefault()

        //     var querystring = require('querystring')

        //     this.loginData.email = this.email
        //     this.loginData.password = this.password

        //     if(this.$session.get('token')){
        //         window.location.href = "http://localhost:8080/#/home"
        //     } else {
        //         Axios.post('/login2.json', qs.stringify(this.loginData),{headers: {'Content-Type':'application/x-www-form-urlencoded'}}).then(
        //             (response) => {
        //                 this.$session.remove('token')
        //                 this.sessionToken = response.data.token
        //                 this.$session.set('token', response.data.token)

        //                 this.initialize()
        //             },
        //             (response) => {
        //                 alert(response)
        //                 this.notification = "Invalid Authentication"
        //                 this.notificationSnackbar = true
        //                 console.log(response)
        //             }
        //         ).catch((response => { console.log(response) }))
        //     }
        // }
    }
}
</script>
