<template>
  
</template>

<script>
export default {
  mounted(){
      this.initialize()
  },
  data(){
      return {}
  },
  methods: {
        initialize: function(){
            this.$session.remove('user')
            this.$session.remove('token')

            window.location.href = "http://localhost:8080"
        }
  }
}
</script>
