/*========= Dashboard Scss ==========*/
.breadcrumbs {
  h2 {
    font-weight: $breadcrumb-font-weight;
    color: $breadcrumb-font-color;
    font-size: $breadcrumb-font-size;
  }
}
.border-rad-sm.overflow-hidden {
  .flex {
    &:first-child {
      border-bottom-left-radius: $card-border-radius;
      overflow: hidden;
    }
    &:last-child {
      border-bottom-right-radius: $card-border-radius;
      overflow: hidden;
    }
  }
}
.dash-card {
  background-color: $navbar-bg;
  color: $light;
  border-right: 1px solid $border-color;
}
.dash-icon {
  font-size: $h1-font-size;
}
.dash-card-wrap {
  background-color: $light;
  border: $card-border;
  box-shadow: $card-shadow;
  .dash-card-light {
    border-right: 1px solid $input-border-color;
    float: left;
    text-align: center;
    padding: 1.25rem;
    width: 33.3%;
    &:last-child {
      border-right: none;
    }
    h2 {
      font-size: 1.625rem; //26px;
      margin: 0;
    }
    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
.chart-stat {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 40%;
  font-size: 1.625rem; //26px;
  font-weight: 400;
}
.ladgend-wrapper {
  p {
    margin-right: 8px;
    display: inline-block;
    span {
      color: $gray;
    }
  }
  .ladgend {
    width: 25px;
    display: inline-block;
    height: 10px;
    border-radius: 30px;
    margin-right: 5px;
    &.ladgend-warning {
      background: $light-warning;
    }
    &.ladgend-success {
      background: $light-success;
    }
    &.ladgend-pink {
      background: $light-pink;
    }
  }
}
//*========= Dashboard v2 =============*/
.cart-wrap {
  h2 {
    i {
      vertical-align: -1px;
    }
  }
}
.card-list {
  padding: 0;
  li {
    margin-bottom: 1.563rem; //30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .progress-linear {
    border-radius: 10px;
  }
}
/*====== Toster =======*/
.mini-toastr {
  font-family: $font-family-base !important;
  .mini-toastr__notification {
    opacity: .9;
    border-radius: 3px;
    .mini-toastr-notification__title {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .mini-toastr-notification__message {
      padding: 0px;
    }
    &.-success {
      background-color: $success;
    }
    &.-error {
      background-color: $danger;
    }
    &.-warn {
      background-color: $warning;
    }
    &.-info {
      background-color: $info;
    }
  }
}

/*========== Dashboard Responsive ==========*/
@media (max-width: 1800px) and (min-width: 960px) {
  .m-height-xl {
    min-height: 450px;
  }
}
@media (max-width: 1750px) and (min-width: 320px) {
  .table {
    thead, tbody {
      tr {
        th, td {
          padding: 0 5px !important;
        }
      }
    }
  }
}
@media (max-width: 1750px) and (min-width: 960px) {
  .m-height-lg {
    min-height: 430px;
  }
  .m-height-md {
    min-height: 410px;
  }
}
@media (max-width: 1456px) and (min-width: 960px) {
  .server-load {
    .px-4 {
      padding: 0 !important;
    }
  }
}
@media (max-width: 1340px) and (min-width: 1100px) {
  .table {
    .label {
      padding: 0.25rem 0.2rem;
    }
  }
  .m-height-lg {
    min-height: 410px;
  }
  .m-height-md {
    min-height: 390px;
  }
  .m-height-xl {
    min-height: 430px;
  }
}
@media (max-width: 1100px) and (min-width: 960px) {
  .m-height-xl {
    min-height: 430px;
  }
}
@media (max-width: 960px) and (min-width: 320px) {
  .btn--floating.btn--small {
    width: 25px;
    height: 25px;
    .icon {
      font-size: 12px;
      margin: 0;
    }
  }
}
@media (max-width: 520px) {
  .dash-card-wrap .dash-card-light {
    width: 100%;
  }
  .label {
    padding: 0.15rem 0.2rem !important;
    font-size: 70% !important;
  }
}
